/* base */

body {
  font-family: 'Open Sans', sans-serif;
  background-image: url('./img_assets/seamless-background-80s67-.jpg');
  color: white;
}

a {
  color: white;
}

header {
  background-color: #2d374f;

}

main {
  /* background-color: lightgray; */
  height: 400px;
}

footer {
  background-color: #2d374f;
  height: 80px;
}

h1 {
  font-family: 'Orbitron', sans-serif;
  font-size: 5vw;
  color: white;
}

h2 {
  font-size: 3vw;
}

h3 {
  font-size: 2vw;
}

p {
  font-size: 20px;
}

a {
  font-size: 25px;
  /* text-decoration-line: none; */
}

label {
  font-size: 25px;
}

input {
  font-size: 25px;
}

button {
  font-size: 25px;
}