

header nav ul {
  list-style: none;
}

header nav ul li {
  width: 100%;
  padding: 5px;
  text-align: center;
}

header nav a {
  text-decoration-line: none;
}

button, input {
  display: block;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.login-View {
  text-align: center;
  width: 50%;
  margin-top: 5px;
  margin-bottom: 5px;
  margin: auto;
}

/* #login-form button {
  align: center;
  margin: auto;
} */

.link-icon {
  width: 15px;
  height: 15px;
}
