/* modules */


header {
  padding: 10px;
  border-bottom: 1px solid white;
  position: relative;
}

header img {
  position: absolute;
  top: 4px;
  right: 10px;
}

/* global styles */
section h2 {
  font-size: 28px;
  text-align: center;
}

h3, label {
  text-align: center;
  font-size: 20px;
  margin: 10px;
}

.login-View, .update-View, .error-View, .about-Us, .history-container {
  width: 80%;
  min-height: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: #f65f9e;
}

/* game-View container */
main .game-View {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 375px;
  min-height: 400px;
  background-image: url('./img_assets/gif-ball-2.png');
  background-size: 375px 375px;
  background-repeat: no-repeat;
}

main .game-View form {
  margin-top: 28px;
}

main .game-View input {
  width: 60%;
  border: 3px solid rgb(156, 156, 156);
  text-align: center;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main .game-View img {
  max-width: 300px;
  max-height: 200px;
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main .game-View p {
  /* text-align: center; */
  color: rgb(95, 95, 95);
  position: absolute;
  top: 77%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main .game-View button {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid rgb(156, 156, 156);
}

/* about us view container */
main .about-Us .containing-div {
  display: flex;
  justify-content: space-between;
  align-items: top;
}


main .about-Us .about-Us-profile {
  display: inline-block;
  max-width: 200px;
  margin: 20px; 
}


main .about-Us .about-Us-profile img {
  width: 200px;
}




/* historyView container  */

main .history-container {
  margin-left: auto;
  margin-right: auto;
  min-width: 350px;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}

main .history-View .history-container .history-absolute-container {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main .history-View .history img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  max-height: 200px;
}




/* update view */

main .update-View {
  width: 80%;
  /* height: 350px; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 30px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: #f65f9e;
}

main .update-View form input{
  padding: 5px;
}

.login-View {
  position:relative;
}

.login-View form {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-View form * {
  padding: 10px;
}


/* footer */

footer {
  text-align: center;
}

@media only screen and (min-width: 800px) {
  /* header {
  background-color: wheat;
  } */

  .login-View, .update-View, .error-View, .about-Us, .history-container {
    max-width: 700px;
    min-height: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: #f65f9e;
  }

  main .game-View {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    min-height: 400px;
    height: 600px;
    background-image: url('./img_assets/gif-ball-2.png');
    background-size: 600px 600px;
    background-repeat: no-repeat;
  }

  main .game-View img {
  max-width: 600px;
  max-height: 400px;
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
}

}